.search-area{
  padding-top: 50px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.search-button-border {
  border-color: rgba(23,162,184, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(23,162,184, 0.6);
  outline: 0 none;
}

.no-right-padding{
  padding-right: 0 !important;
}

.no-left-padding{
  padding-left: 0 !important;
}

.search-border{
  border-radius: 0.3rem 0 0 0.3rem !important;
}

.search-button-border{
  border-radius: 0 0.25rem 0.25rem 0 !important;
}

.results-block{
  display: inline-block;
  margin-bottom: 1rem;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th, .follow-friend-btn:hover {
  background-color: #138496 !important;
  border-color: #117a8b !important;
}

.logout-button{
  margin-right: 5px;
}

 .navbar-brand, a{
  color: #138496 !important;
}

.delete_stock, .stop-following, .friend-profile{
  color: #343a40!important;
}

.delete_stock:hover, .stop-following:hover{
  color: #dc3545!important;
}

.friend-profile:hover{
  color: #28a745!important;
}

.user-name{
  margin-top: 3.5%;
  padding-right: 5px;
}

.nav-item.active{
  text-decoration: underline !important;
}

.nav-item:not(.active) a{
  color: #6c757d!important;
}

.follow-friend-btn, .btn-outline-info:hover, a.btn-info{
  color: white !important;
}

.friends-badge{
  margin-bottom: 20% !important;
}

.friend-actions{
  margin: 0 0.5rem;
}

.btn-outline-info, .btn-outline-info:hover {
    background-color: white !important;
    color: #6c757d !important;
}
